/*importar fonte do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red {
    color: red;
    font-family: "Rock Salt", cursive;
}
/*header*/

.main-header {
    background-image: url(lula.jpg); /*adiciona imagem ao fundo*/
    background-position: 50% 39%; /* alinhar os elementos nos eixos x e y*/
    display: flex; /*colocar os elementos no centro*/
    flex-direction: column; /* alinha os elementos um embaixo do outro*/
    align-items: center; /*centralizar os elementos*/}

    .main-nav {
        width: 100%; /*ocupar toda area disponivel*/
    }

    .header-list-container{
        display: flex; /*colocar os elementos na mesma linha*/
        justify-content: space-between; /*adiciona espaçamento entre os itens*/
        align-items: center; /*garantir que fiquem alinhados na mesma linha*/
        padding: 16px 0; /**/
    }
    .nav-item {
        list-style-type: none; /*remove as bolinhas padrão dos elementos li*/
        text-transform: uppercase; /*deixa as letras toda maiscula*/
        color:DarkMagenta ;
    }
    hr {
        width: 100%;
    }
    .nav-item a {
        text-decoration: none;
        color: inherit;
    }
    .nav-item:hover {
        color: GreenYellow;
        transition: 0.3s;
    }
    .main-about {
        padding: 40px 0 64px;
    }
    .container {
        max-width: 600px; /*trava a largura maxima que definimos para o projeto*/
        padding: 0 16px; /*primeiro cima/baixo, segundo esquerda/direita*/
        margin: 0 auto; /*não aplica cima/baixo, o auto distribui*/
    }
    .about-title {
        font-family: "raleway" , sans-serif;
        font-size: 32px; /*tamanho da fonte*/
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    .about-image {
        float: left; /*alinha imagem a esquerda e o texto a direita*/
        margin: 0 20px 10px 0; /*0 topo, 20 direito, 10 baixo, 0 a esquerda*/
        /*diminuir o tamanho das imagens*/
        width: 200px; /*largura*/
        height: auto; /*evita a distorção da image */
    }

